<div class="container content-all line">
  <div class="row item" *ngFor="let item of newArray">
    
    <div class="col-xl-5">
        <span><img class="check" src="../assets/icons/check .svg" alt=""></span>
      <div class="card seta">
        <div class="card-header">
            <span class="info"><img class="icon" src="../assets/icons/calendar.svg" alt=""><span class="data">{{item.timestamp | date : 'd/M/yyyy' }}</span></span>
            <span class="info"><img class="icon" src="../assets/icons/clock.svg" alt=""><span class="data">{{item.timestamp | date : 'H:mm'  }}</span></span>
            <span class="info"><img class="icon" src="../assets/icons/place.svg" alt=""><span class="data">{{item.store}}</span></span>
            <span class="info"><img class="icon" src="../assets/icons/money.svg" alt=""><span class="data">{{item.revenue | currency: 'BRL' }}</span></span>
        </div>          
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Produto</th>
                <th scope="col" style="text-align: right;padding-right: 35px;">Preço</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of item.items">
                  <td >{{i.product_name}}</td>
                  <td style="text-align: right;padding-right: 35px;">{{i.product_price | currency: 'BRL' }}</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
